
/* This stylesheet covers dimensions of columns as well as its responsiveness among different resolutions*/
/* With this selector, we are specifying that all objects use the border-box model (not the content-box model)*/

*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*Here we are using a 'fancy' css selector that is specifying if the class of an item starts with 'grid-col-', then we should apply the styling listed */
[class^='grid-col-'] {
	float: left;
	padding: 0; 
	text-align:center;
}

div{
    display:block;
}

.container-flex{
    display:flex;
    /*flex-wrap:wrap;*/
}

.container-flex-center{
    margin-top:50px;
    margin-bottom:80px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.container-flex-split{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
}

.container-flex-col{
    display:flex;
    flex-direction:column;
}

.header-flex {
    align-items:center;
    justify-content: space-between;
}

.flex-item, .flex-item-search {
    display:flex;
    align-items:center;
    white-space:nowrap;
}


/* @media queries to collapse the columns when width is less than "x" em */
@media (max-width: 80em) {



}

@media (max-width: 50em){

}

@media (max-width: 31em) {


}


